<html>
    <head>
        <title>Riddle App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"
    
    </head>
    
<body>
     <div class="text-center">
    <br>
    <h3>You are  {% print rw %} {% print session['user'] %}!</h3>
    
    <h4>The answer is {% print answer %}</h4>

    <br><br>
    <a href="/"> Next</a>
    </div>
</body>


</html>